# Compiled Object files
*.slo
*.lo
*.obj
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simusched

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

# Compiled Latex files
*informe.pdf
